* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#name {
  color: aliceblue;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
#nav-bar{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 30px;
    color: white;
}

body {
  background-color: aliceblue;
}

nav h1 {
  font-size: 48px;
}
main{
  display: flex;
}

aside {
flex: 30%;
background-color: aqua;
padding: 2rem;
flex-wrap: wrap;
}


.banner img{
width: 100%;
height: 200px;

}

.About-Me{
  font-size: 30px;
}

.Work{
  font-size: 30px;
}

footer{
  display: inline-block;
}
